In [1]:
## Exercise GroupBy and Aggregation

In [2]:
import pandas as pd

In [8]:
listings = pd.read_csv("listings.csv")
print(listings.shape)

(15778, 75)

In [9]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,18674,https://www.airbnb.com/rooms/18674,20221211170659,2022-12-11,city scrape,Huge flat for 8 people close to Sagrada Familia,110m2 apartment to rent in Barcelona. Located ...,Apartment in Barcelona located in the heart of...,https://a0.muscache.com/pictures/13031453/413c...,71615,...,4.69,4.81,4.28,HUTB-002062,t,20,20,0,0,0.28
1,124342,https://www.airbnb.com/rooms/124342,20221211170659,2022-12-11,city scrape,BORN CENTRICO / MUSEO PICASSO / 10 min to BEACH,Double room at El Born / MONTHLY RENTAL & DAY...,NaN,https://a0.muscache.com/pictures/6058611/f5160...,548084,...,4.88,4.95,4.49,HUTB-123456,f,1,0,1,0,0.56
2,128463,https://www.airbnb.com/rooms/128463,20221211170659,2022-12-12,city scrape,Private Suite in residential area!!,My House is located in the quiet district of S...,You live in a typical Spanish district with no...,https://a0.muscache.com/pictures/855084/c71b65...,635253,...,4.90,4.73,4.82,HUTB-012603,t,1,0,1,0,2.53
3,130227,https://www.airbnb.com/rooms/130227,20221211170659,2022-12-11,city scrape,Spacious Room with Pool and Terrace,Just 5 minutes’ walk from the beach in the San...,NaN,https://a0.muscache.com/pictures/14284828/d2ea...,641496,...,4.78,4.73,4.64,Exempt,f,1,0,1,0,1.24
4,135513,https://www.airbnb.com/rooms/135513,20221211170659,2022-12-11,city scrape,APARTMENT AT RAMBLA POBLE NOU AND BEACH,AMAZING APARTMENT AT RAMBLA OF POBLE NOU ; ONL...,NaN,https://a0.muscache.com/pictures/9578738/40581...,664196,...,4.80,4.83,4.56,NaN,f,2,2,0,0,0.96

In [10]:
listings[
    ["price","host_response_rate","host_acceptance_rate"]
].head()

     price host_response_rate host_acceptance_rate
0  $129.00               100%                  94%
1   $60.00                60%                  43%
2   $60.00               100%                 100%
3   $80.00                NaN                 100%
4   $90.00                83%                  18%

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [12]:
listings["price"]

0        129.00
1         60.00
2         60.00
3         80.00
4         90.00
5        195.00
6         40.00
7         73.00
8         74.00
9        309.00
10        60.00
11        44.00
12       174.00
13        40.00
14        36.00
15        18.00
16        60.00
17       121.00
18        32.00
19        38.00
20       149.00
21        73.00
22       103.00
23       124.00
24       138.00
25       115.00
26       290.00
27       200.00
28        80.00
29        23.00
          ...
15748     39.00
15749    138.00
15750     24.00
15751     96.00
15752     67.00
15753    209.00
15754    209.00
15755    111.00
15756    174.00
15757    245.00
15758    308.00
15759     94.00
15760     74.00
15761     55.00
15762     49.00
15763    550.00
15764    124.00
15765    103.00
15766    144.00
15767     73.00
15768    100.00
15769     22.00
15770     32.00
15771     28.00
15772     65.00
15773     80.00
15774    103.00
15775    103.00
15776    153.00
15777    103.00
Name: price, Length: 15778, dtype: object